*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: none;
  overflow-x: hidden;

}
input{
  font-size: 34px;
  padding:3px;
  
  margin: auto;
  margin-top: 10px;
  display: block;
}
button{
 display: flex;
 margin: auto;
}

.Header{
  text-align: center;
  padding:5px;
  color: white;
height: fit-content;
}

h1{
  font-size: 3rem;
  padding: 5px;
  overflow-y: hidden;
}
.navbar{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  /* background-color: rgb(26, 25, 25);#4a4a9c */
  background-color: rgb(34, 34, 39);
 

}
a{
text-decoration: none;
color: white;
margin-left: 27px;
margin-top:5px;
margin-bottom: 5px;
}
#main{
  width: 100vw;
  height: 100%;
  color: white;
  text-shadow: 2px 2px 1px black;
}
.main, .navbar, .Header{
  transition: 1s;
  
}
.accordion-button{
  color:white;
}
.hc{
  height:120vh;
}

textarea{

  margin-top: 1%;
  text-shadow: none;
}
.buttondiv{
  display: flex;
  flex-direction: row;
  @media only screen 
  and (max-device-width: 1000px)
  { flex-direction: column; }
 width:40%;
 margin: auto;

}
button{
  background-color:"blue";color:"white";margin-top:"4px";padding:'10px';font-size:'1rem';
}
.navbar{
  position: sticky;
  top:0;
}

#heading{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-size:6rem;
  margin-top: -20px;
  font-weight: bolder;
  
  
}
#Gallery{
  display: flex;
  flex-wrap: wrap;
}
/* To hide the checkbox */
#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 40px;
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .3s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0px;
  background: conic-gradient(rgb(104, 104, 104),white,rgb(104, 104, 104),white,rgb(104, 104, 104));
  border-radius: 50%;
  transition-duration: .3s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.308);
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .3s;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: rgb(153, 197, 151);
  transition-duration: .3s;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}