*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: none;
  overflow-x: hidden;

}
input{
  font-size: 34px;
  padding:3px;
  
  margin: auto;
  margin-top: 10px;
  display: block;
}
button{
 display: flex;
 margin: auto;
}

.Header{
  text-align: center;
  padding:5px;
  color: white;
height: fit-content;
}
h1{
  font-size: 3rem;
  padding: 5px;
  overflow-y: hidden;
}
.navbar{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  /* background-color: rgb(26, 25, 25);#4a4a9c */
  background-color: rgb(34, 34, 39);

}
a{
text-decoration: none;
color: white;
margin-left: 27px;
margin-top:5px;
margin-bottom: 5px;
}
#main{
  width: 100vw;
  height: 100%;
  color: white;
  text-shadow: 2px 2px 1px black;
}
.main, .navbar, .Header{
  transition: 1s;
  
}
.accordion-button{
  color:white;
}
.hc{
  height:120vh;
}

textarea{

  margin-top: 1%;
  text-shadow: none;
}
.buttondiv{
  display: flex;
 width:40%;
 margin: auto;

}
button{
  background-color:"blue";color:"white";margin-top:"4px";padding:'10px';font-size:'1rem';
}
